html{
	height : 100%;
}

body{
	display:flex;
	justify-content: center;
	align-items: center;
	background:linear-gradient(130deg , #111111 , #000000);
	height:100%;
	margin : 0;
}

.circle{
	border-radius : 50%;
	position:absolute;
	z-index:-1;
}

.circle1{
	transform: translate(200px , -50px);
	height: 360px;
	width : 360px;
	background : linear-gradient(90deg , #00ffdd , #2a5353)
}

.circle2{
	transform: translate(-160px , 120px);
	height: 270px;
	width : 270px;
	background : linear-gradient(90deg , #ff00b3 , #4a51e2)
}

.circle3{
	transform: translate(-260px , -160px);
	height: 150px;
	width : 150px;
	background : linear-gradient(90deg , #ff7b00 , #ff0000)
}


#cardKeeper{
	display:flex;
	justify-content:center;
	align-items:center;
	transform-origin:center;
}

#card{
	height:350px;
	width:80vw;
	margin: auto;
	background:rgb(255 ,255,255);
	background: linear-gradient(145deg,rgba(97, 97, 97, 0.5) 0% , rgba(0, 0, 0, 0.2) 100%);
	border-radius:  0 50px 0 50px ;
	backdrop-filter:blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 2px outset rgba(255 , 255,255, 0.2);
	box-shadow:0px 1px 24px -1px rgba(0,0,0,0.2);
}

#card::after{
	content:"";
	position:absolute;
	height:350px;
	width:80vw;
	margin: auto;
	opacity:0.5;
	
}


